@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    background-color: #F8FAFC;
}
.app-container{
    display: flex;
    width: 100%;
}

.poppins {
    font-family: 'Poppins', sans-serif !important;
}
